<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book.mapper.BookMapper">
    <resultMap id="bookResult" type="book.entity.Book">
        <result column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="book_author" property="bookAuthor"/>
        <result column="isbn" property="ISBN"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <select id="searchByPage" resultMap="bookResult">
        select *
        from select_book_func(#{pageNum}, #{pageSize}, #{bookName}, #{bookAuthor});
    </select>

    <update id="subOne">
        update book set stock=stock-1 where book_id=#{bookId};
    </update>
</mapper>